/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {}
header h1 {
    text-align: center;
    font-size: 48px;
    font-display:auto;
    padding: 0;
    margin: 10px;
}
header img {
    width: 120px;
    float: left;
    height: 98px;
}
header .subheading {
    font-size: 29px;
    text-align: center;
    text-decoration-color: orange;
    color: orange;
    margin: 0px;
} 
nav {
    background-color: deepskyblue;
     padding: 0px;
}
 nav button {
    border: none;
     margin: .2rem 2%;
     font-size: 1.6rem;
     background-color: transparent;
     color: antiquewhite;
}
nav ul.cat {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  overflow: hidden;
}

ul.primaryNav {
    list-style: none;
    padding-left: 0;
}
/nav ul li{
    display: block;
}
nav ul.cat li a {
    display: block;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-top: 1px solid #555;
}
nav ul.cat li.active a {
    color: darkorange;
    background-color: lightblue;
}

nav ul.cat li a:hover {
    background-color: lightgray;
}
nav ul.hide {
    display: none;
}

main {
    padding: 8px;
line-height: 1.3em;
font-size: 1.10em;
font-family: 'Playfair Display', sans serif;
    color: black;
    background-color: white;
}*/
main h2 {
    text-align: center;
}


footer {
    text-align: center;
    background-color: /*darkturquoise;*/
}
footer aside.fota {
    text-align: center;
    background-color:darkturquoise ;
    margin: auto;
}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
#currentdate{
    
}

/* this section refers to the main of the index.html page*/


   /*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}