@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { 
     width: 29.333%;
      height: 200px;
      flex: 1 0 15em;
      margin: 0.5em;
    }
    
    #banner {
        display: block;
        width: 100%;
        height: 200px;
        margin: -10px;
        margin-bottom: 5px;
    }
    nav {
        position: static;
    }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
      overflow: hidden;
     background-color: deepskyblue;
}

li {
    display: inline;
    float: left;
}
    li:last-child{
        float: right;
    }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    border: 2px solid #555;
    text-decoration: none;
   
}
li a:hover{
    background-color: darkorange;
}
li.active a {
    color: chartreuse;
}
    ul.hide  {
        display: block;
    }
    /*extra codes*/
    h3 {
        text-align: center;
        width: 100%;
        
    }
    .forecast {
        visibility: visible;
        text-align: center
         font-family: /*"Trebuchet MS", Arial, Helvetica, */sans-serif;
       
        border: 1px solid #ddd;
        width: 100%;
        font-size: 15px;
    }
    .forecast td, .forecast th {
        text-align: center;
        border: 2px solid #ddd;
       
    }
    aside{
        text-align: center;
    }
    .leftcol { 
				width: 48%;
				flex: 1 0 15em;
        margin: .5em;}
    .rightcol { 
				width: 48%;
				flex: 1 0 15em;
        margin: .5em;}
    #sec1 {
				display: flex;
				flex-flow: row wrap;
				flex: 1;
}
     article.container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    margin: auto;
    margin-top: 200px;    
    margin-bottom: 10px;
      
    }
    .form {
    align-content: center;
    text-align: center;
}
    #banna {
        display: block;
        max-width: 100%;
        height: 200px;
        margin: -10px;
        margin-bottom: 5px;
    }
    .conditions {
           text-align: center;
    }
    /* this section refers to the main of the index.html page*/
   
    }
    
}